// Special
$background: {background};
$foreground: {foreground};
$cursor: {cursor};

// Standard colors
$color0: {color0};
$color1: {color1};
$color2: {color2};
$color3: {color3};
$color4: {color4};
$color5: {color5};
$color6: {color6};
$color7: {color7};
$color8: {color8};
$color9: {color9};
$color10: {color10};
$color11: {color11};
$color12: {color12};
$color13: {color13};
$color14: {color14};
$color15: {color15};

// Extended Modus Operandi colors
// Basic values
$bg-main: #ffffff;
$bg-dim: #f2f2f2;
$fg-main: #000000;
$fg-dim: #595959;
$fg-alt: #193668;
$bg-active: #c4c4c4;
$bg-inactive: #e0e0e0;
$border: #9f9f9f;

// Common accent foregrounds
$red: #a60000;
$red-warmer: #972500;
$red-cooler: #a0132f;
$red-faint: #7f0000;
$red-intense: #d00000;
$green: #006800;
$green-warmer: #316500;
$green-cooler: #00663f;
$green-faint: #2a5045;
$green-intense: #008900;
$yellow: #6f5500;
$yellow-warmer: #884900;
$yellow-cooler: #7a4f2f;
$yellow-faint: #624416;
$yellow-intense: #808000;
$blue: #0031a9;
$blue-warmer: #3548cf;
$blue-cooler: #0000b0;
$blue-faint: #003497;
$blue-intense: #0000ff;
$magenta: #721045;
$magenta-warmer: #8f0075;
$magenta-cooler: #531ab6;
$magenta-faint: #7c318f;
$magenta-intense: #dd22dd;
$cyan: #005e8b;
$cyan-warmer: #3f578f;
$cyan-cooler: #005f5f;
$cyan-faint: #005077;
$cyan-intense: #008899;

// Uncommon accent foregrounds
$rust: #8a290f;
$gold: #80601f;
$olive: #56692d;
$slate: #2f3f83;
$indigo: #4a3a8a;
$maroon: #731c52;
$pink: #7b435c;

// Common accent backgrounds
$bg-red-intense: #ff8f88;
$bg-green-intense: #8adf80;
$bg-yellow-intense: #f3d000;
$bg-blue-intense: #bfc9ff;
$bg-magenta-intense: #dfa0f0;
$bg-cyan-intense: #a4d5f9;
$bg-red-subtle: #ffcfbf;
$bg-green-subtle: #b3fabf;
$bg-yellow-subtle: #fff576;
$bg-blue-subtle: #ccdfff;
$bg-magenta-subtle: #ffddff;
$bg-cyan-subtle: #bfefff;
$bg-red-nuanced: #ffe8e8;
$bg-green-nuanced: #e0f6e0;
$bg-yellow-nuanced: #f8f0d0;
$bg-blue-nuanced: #ecedff;
$bg-magenta-nuanced: #f8e6f5;
$bg-cyan-nuanced: #e0f2fa;
